@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff
}

.bg-hero {
    background-image: url('/src/assets/hero-bg.jpg');
}


.listBook::after{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  background-color: #372213;
  height: 5px;
}

.editor-input{

  width: 100%;
}